	<div id="wrap">

		<div id="header">
			<f:cObject typoscriptObjectPath="lib.header" />
		</div>
		
		<div class="colmask equal layout2cols">
			
			<div class="col1">
				<div class="content">
					<f:cObject typoscriptObjectPath="lib.contentLeft" />
				</div>
			</div>
			
			<div class="col2">
				<div class="content" id="contentMain">
					<f:cObject typoscriptObjectPath="lib.content" />
				</div>
			</div>
			
		</div>
		
		<div id="footer">
			<f:cObject typoscriptObjectPath="lib.footer" />
		</div>
		
	</div> <!-- /wrap -->