/t3lib
/typo3
/index.php
/typo3temp
/fileadmin
/uploads

/typo3conf/*CACHED*
/typo3conf/hostconf.php
/typo3conf/ENABLE_INSTALL_TOOL

/awstats-icon
/icon
/php5.fcgi
/stats
/.idea
/.DS_Store