ssh -t deploy@clients.webteam.at "cd public_html/ &&  ./flow3 surf:deploy <domain>ClientsWebteamAt"

## EXAMPLE: 
# ssh -t deploy@clients.webteam.at "cd public_html/ &&  ./flow3 surf:deploy fdummyClientsWebteamAt"