<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="../../../Public/Css/Screen.css">
	<link rel="stylesheet" type="text/css" href="../../../../../wt_base/Resources/Public/Bootstrap/css/bootstrap.css">
	<script src="../../../../../wt_base/Resources/Public/Bootstrap/js/bootstrap.min.js"></script>
	<title>untitled</title>
	
</head>

<body>

<div id="ibs">
<div id="wrap" class="container">

 	<div id="header">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav lvl1">
						<li><a href="#">punkt1</a></li>
						<li><a href="#">punkt2</a>
							<ul class="nav lvl2">
								<li><a href="#">Subpunkt1</a>
								<img src="images/menu1.jpg">
								<ul class="nav lvl3">
									<li><a href="#">Sub-Subpunkt1</a></li>
									<li><a href="#">Sub-Subpunkt2</a></li>
									<li><a href="#">Sub-Subpunkt3</a></li>
									<li><a href="#">Sub-Subpunkt4</a></li>
								</ul>
								</li>
								<li><a href="#">Subpunkt2</a>
								<img src="images/menu2.jpg">
								<ul class="nav lvl3">
									<li><a href="#">Sub-Subpunkt1</a></li>
									<li><a href="#">Sub-Subpunkt2</a></li>
									<li><a href="#">Sub-Subpunkt3</a></li>
								</ul>
								</li>
								<li><a href="#">Subpunkt3</a>
								<img src="images/menu3.jpg">
								<ul class="nav lvl3">
									<li><a href="#">Sub-Subpunkt1</a></li>
									<li><a href="#">Sub-Subpunkt2</a></li>
									<li><a href="#">Sub-Subpunkt3</a></li>
								</ul>
								</li>
								<li><a href="#">Subpunkt4</a>
								<ul class="nav lvl3">
									<li><a href="#">Sub-Subpunkt1</a></li>
									<li><a href="#">Sub-Subpunkt2</a></li>
									<li><a href="#">Sub-Subpunkt3</a></li>
									<li><a href="#">Sub-Subpunkt4</a></li>
									<li><a href="#">Sub-Subpunkt5</a></li>
									<li><a href="#">Sub-Subpunkt6</a></li>
									<li><a href="#">Sub-Subpunkt7</a></li>
								</ul>
								</li>
							</ul>
						</li>
						<li><a href="#">punkt3</a></li>
						<li><a href="#">punkt4</a></li>
						<li><a href="#">punkt5</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4">
			Lorem Ipsum Dolor Sit Amet1
		</div>
		<div class="span4">
			Lorem Ipsum Dolor Sit Amet2
		</div>
		<div class="span4">
			Lorem Ipsum Dolor Sit Amet3
		</div>
		
		<div class="span6">
			Lorem Ipsum Dolor Sit Amet1
		</div>
		<div class="span6">
			Lorem Ipsum Dolor Sit Amet2
		</div>		
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="span4">
					<p>WEBTEAM GmbH - Münzgrabenstrasse 36 - 8010 Graz - <a href="mailto:office@webteam.at">office@webteam.at</a></p>
				</div>
				<div class="span4">
					zweite Footerspalte
				</div>
				<div class="span4">
					dritte Footerspalte
				</div>
			</div>
		</div>
	</footer>

</div> <!-- /wrap -->
</div>
</body>
</html>
