{namespace m=Tx_MootoolsEssentials_ViewHelpers}

	<div id="wrap" class="container">

		<div id="header">
			<f:link.page pageUid="1">
				<img id="homeLink" src="typo3conf/ext/site_default/Resources/Public/Css/Images/logo.png" alt="WEBTEAM GmbH" />
			</f:link.page>
			<f:cObject typoscriptObjectPath="lib.header" />
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<f:cObject typoscriptObjectPath="lib.headerMenu" />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span4">
				<f:cObject typoscriptObjectPath="lib.leftMenu" />
				<f:cObject typoscriptObjectPath="lib.leftContent" />
			</div>

			<div class="span8">
				<div id="content">
					<f:cObject typoscriptObjectPath="lib.content" />
				</div>
			</div>
		</div>

		<f:render partial="Footer" />

	</div> <!-- /wrap -->