<label for="name">
	<f:translate key="tx_xform_domain_model_form.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_xform_domain_model_form.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="nameto">
	<f:translate key="tx_xform_domain_model_form.nameto" />
</label><br />
	<f:form.textfield property="nameto" /><br />
<label for="emailto">
	<f:translate key="tx_xform_domain_model_form.emailto" />
</label><br />
	<f:form.textfield property="emailto" /><br />
<label for="description">
	<f:translate key="tx_xform_domain_model_form.description" />
</label><br />
	<f:form.textfield property="description" /><br />