<table class="tx-xform" >
	<tr>
		<td>
			<f:translate key="tx_xform_domain_model_form.name" />
		</td>
		<td>
			{form.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_xform_domain_model_form.email" />
		</td>
		<td>
			{form.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_xform_domain_model_form.nameto" />
		</td>
		<td>
			{form.nameto}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_xform_domain_model_form.emailto" />
		</td>
		<td>
			{form.emailto}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_xform_domain_model_form.description" />
		</td>
		<td>
			{form.description}
		</td>
	</tr>
</table>