{namespace x=Tx_Xform_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<x:form method="post" action="createMessage" name="newForm" object="{newForm}">
		<table>
			<tr>
				<td><label for="name"><f:translate key="tx_xform_domain_model_form.name" /></label></td>
				<td><f:form.textfield property="name" id="name" /></td>
			</tr>
			<tr>
				<td><label for="email"><f:translate key="tx_xform_domain_model_form.email" /></label></td>
				<td><f:form.textfield property="email" id="email" /></td>
			</tr>
			<tr>
				<td><label for="message"><f:translate key="tx_xform_domain_model_form.message" /></label></td>
				<td><f:form.textarea property="message" rows="3" cols="15" id="message" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><button type="submit"><f:translate key="tx_xform_domain_model_form.send" /></button></td>
			</tr>
		</table>
		
		<f:form.hidden property="nameClient" value="Client Name" />
		<f:form.hidden property="emailClient" value="office@client.com" />
		<f:form.hidden property="subject" value="Massage from Server" />
	</x:form>
</f:section>