{namespace x=Tx_Xform_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<x:form method="post" action="createTipAFriend" name="newForm" object="{newForm}">
		<table>
			<tr>
				<td><label for="name"><f:translate key="tx_xform_domain_model_form.name" /></label></td>
				<td><f:form.textfield property="name" /></td>
			</tr>
			<tr>
				<td><label for="email"><f:translate key="tx_xform_domain_model_form.email" /></label></td>
				<td><f:form.textfield property="email" /></td>
			</tr>
			<tr>
				<td><label for="nameto"><f:translate key="tx_xform_domain_model_form.nameto" /></label></td>
				<td><f:form.textfield property="nameto" /></td>
			</tr>
			<tr>
				<td><label for="emailto"><f:translate key="tx_xform_domain_model_form.emailto" /></label></td>
				<td><f:form.textfield property="emailto" /></td>
			</tr>
			<tr>
				<td><label for="description"><f:translate key="tx_xform_domain_model_form.message" /></label></td>
				<td><f:form.textarea property="message" rows="3" cols="15" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><button type="submit"><f:translate key="tx_xform_domain_model_form.send" /></button></td>
			</tr>
		</table>
		
		<f:form.hidden property="requestUrl" />
	</x:form>
</f:section>