#!/bin/bash

# usage ./checkoutTYPO3v6.sh shopCom mySqlPassword

name=$1;
nameLowerCase=${1,,};
password=$2;

if [ "$name" = "" ] || [ "$password" = "" ]
then
	echo "Provide a name & password (foldername to checkout into, password for mysql). Example: ./checkoutTYPO3v6.sh shopCom h5hk3j3"
	exit
fi

## CLONE & FOLDERS #################################################################################
cd ..
git clone git@github.com:moodley/$nameLowerCase.git $name

cd $name
git submodule update --init --recursive

# create needed folders
mkdir fileadmin
mkdir fileadmin/user_upload
mkdir fileadmin/_temp_
mkdir uploads
mkdir uploads/pics
mkdir uploads/media
mkdir uploads/tf
mkdir typo3temp

# create needed symlinks
ln -s typo3_src/typo3
ln -s typo3_src/t3lib
ln -s typo3_src/index.php

## DATABASE ########################################################################################
ssh -t $nameLowerCase@clients.moodley.at "mysqldump --user=$nameLowerCase --password='$password' $nameLowerCase > dump.sql && gzip dump.sql"

scp $nameLowerCase@clients.moodley.at:dump.sql.gz dump.sql.gz

gunzip dump.sql.gz

mysql --user=root -e "CREATE DATABASE $nameLowerCase"
mysql --user=root -e "ALTER DATABASE $nameLowerCase DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci"
mysql --user=root $nameLowerCase < dump.sql

# remove files
rm dump.sql

# remove remote files
ssh -t $nameLowerCase@clients.moodley.at "rm dump.sql.gz"