#!/bin/bash

domain=yourdomain;
password='yourpassword';

if [ "$domain" = "yourddomain" ]
then
	echo "You have to edit the line 3 of this script and provide the domain (= mysql user) in all lowercase. Example: domain=fdummy"
	exit
fi

if [ "$password" = "yourpassword" ]
then
	echo "You have to edit the line 4 of this script and provide the mysql password. Example: password=5kl2jkd"
	exit
fi

ssh -t $domain@clients.moodley.at "mysqldump --user=$domain --password='$password' $domain > dump.sql && gzip dump.sql"

scp $domain@clients.moodley.at:dump.sql.gz dump.sql.gz

gunzip dump.sql.gz
mysql --user=root $domain < dump.sql

# remove files
rm dump.sql

# remove remote files
ssh -t $domain@clients.moodley.at "rm dump.sql.gz"