#!/bin/bash

name=$1;
nameLowerCase=${1,,};
fdummyPassword='yourpassword'

if [ "$name" = "" ]
then
	echo Provide a name for the folder to checkout into. Example: ./newTYPO3v6.sh shopCom
	exit
fi

if [ "$fdummyPassword" = "yourpassword" ]
then
	echo "You have to edit the line 5 of this script and provide the password for the fdummy server. Example: fdummyPassword=5kl2jkd"
	exit
fi

## CLONE & FOLDERS #################################################################################
cd ..
git clone https://github.com/moodley/fdummy.git $name

cd $name
git submodule update --init --recursive

# create needed folders
mkdir fileadmin
mkdir fileadmin/user_upload
mkdir fileadmin/_temp_
mkdir uploads
mkdir uploads/pics
mkdir uploads/media
mkdir uploads/tf
mkdir typo3temp

# create needed symlinks
ln -s typo3_src/typo3
ln -s typo3_src/t3lib
ln -s typo3_src/index.php

git remote add origin git@github.com:moodley/$nameLowerCase.git

## DATABASE ########################################################################################
ssh -t fdummy@clients.moodley.at "mysqldump --user=fdummy --password='$fdummyPassword' fdummy > dump.sql && gzip dump.sql"

scp fdummy@clients.moodley.at:dump.sql.gz dump.sql.gz

gunzip dump.sql.gz

mysql --user=root -e "CREATE DATABASE $nameLowerCase"
mysql --user=root -e "ALTER DATABASE $nameLowerCase DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci"
mysql --user=root $nameLowerCase < dump.sql

# remove files
rm dump.sql

# remove remote files
ssh -t fdummy@clients.moodley.at "rm dump.sql.gz"