#!/bin/bash

source hostconf.sh

name=$1;
nameLowerCase=`echo "$1" | tr '[A-Z]' '[a-z]'`;

if [ "$name" = "" ]
then
	echo Provide a name (UpperCamelCase) for the folder to checkout into. Example: ./newTYPO3v6.sh ShopCom
	exit
fi

## CLONE & FOLDERS #################################################################################
git clone git@github.com:moodley/fdummy.git $name

cd $name
git submodule update --init --recursive

# create needed folders
mkdir fileadmin
mkdir fileadmin/user_upload
mkdir fileadmin/_temp_
mkdir uploads
mkdir uploads/pics
mkdir uploads/media
mkdir uploads/tf
mkdir typo3temp

# create needed symlinks
ln -s typo3_src/typo3
ln -s typo3_src/t3lib
ln -s typo3_src/index.php

# change git remote
git remote set-url origin git@github.com:moodley/$name.git

## DATABASE ########################################################################################
cd Script
gunzip -c dump.sql.gz

mysql --user=$username --password=$password -e "CREATE DATABASE $nameLowerCase"
mysql --user=$username --password=$password -e "ALTER DATABASE $nameLowerCase DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci"
mysql --user=$username --password=$password $nameLowerCase < dump.sql

rm dump.sql
cd ..