<?php
/*
	$GLOBALS['TYPO3_CONF_VARS']['DB']['username'] = '<user>';
	$GLOBALS['TYPO3_CONF_VARS']['DB']['password'] = '<password>';
	$GLOBALS['TYPO3_CONF_VARS']['DB']['host'] = 'localhost';
	$GLOBALS['TYPO3_CONF_VARS']['DB']['database'] = '<database>';
	
	$GLOBALS['TYPO3_CONF_VARS']['GFX']['im_path'] = '/usr/bin/';
	// ...
*/