<?php
if (!defined ('TYPO3_MODE')) {
	die ('Access denied.');
}

## Load Default Configuration ######################################################################
if (is_file(PATH_typo3conf . 'ext/wt_base/Resources/Private/Php/localconf.default.php')) {
	require_once(PATH_typo3conf . 'ext/wt_base/Resources/Private/Php/localconf.default.php');
}

## Database
if (is_file(PATH_typo3conf . 'hostconf.php')) {
	require_once(PATH_typo3conf . 'hostconf.php');
}
if (is_file(PATH_site . '../hostconf.php')) {
	require_once(PATH_site . '../hostconf.php');
}

## Default TYPO3 settings ##########################################################################
$TYPO3_CONF_VARS['EXT']['extList'] = 'info,perm,func,filelist,about,version,tsconfig_help,context_help,extra_page_cm_options,impexp,sys_note,tstemplate,tstemplate_ceditor,tstemplate_info,tstemplate_objbrowser,tstemplate_analyzer,func_wizards,wizard_crpages,wizard_sortpages,lowlevel,install,belog,beuser,aboutmodules,setup,taskcenter,info_pagetsconfig,viewpage,rtehtmlarea,css_styled_content,t3skin,t3editor,reports,felogin,form';

$typo_db_extTableDef_script = 'extTables.php';

## INSTALL SCRIPT EDIT POINT TOKEN - all lines after this points may be changed by the install script!

?>